{% load static %}
<!doctype html>
<html lang="en">
<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>{% block title %}{% endblock title %}</title>
   <!-- Favicon -->
   <link rel="shortcut icon" href="images/favicon.ico" />
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="{% static 'dashboard/assets/css/bootstrap.min.css' %}">
   <!-- Typography CSS -->
   <link rel="stylesheet" href="{% static 'dashboard/assets/css/typography.css' %}">
   <!-- Style CSS -->
   <link rel="stylesheet" href="{% static 'dashboard/assets/css/style.css' %}">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="{% static 'dashboard/assets/css/responsive.css' %}">
   <style>
        .select2-search__field{
            outline: none;
            color: white;
        }
        .form-control select2 select2-hidden-accessible{
            outline: none !important;
        }
    
        .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple {
            background-color: transparent !important;
            border: 1px solid var(--iq-dark-border-light);
            border-radius: 5px;
            color: white;
            
    
        }   
        .select2-container *:focus {
            outline: #FF4545;
            border-color: #FF4545;
        }

        .select2-container--default.select2-container--focus .select2-selection--multiple {
            outline: none;
            border: 1px solid #FF4545!important;
         }
    </style>
   {% block style %}{% endblock style %}
</head>
<body>
   <!-- loader Start -->
   <div id="loading">
      <div id="loading-center">
      </div>
   </div>
   <!-- loader END -->
   <!-- Wrapper Start -->
   <div class="wrapper">
      <!-- Sidebar  -->
      {% include 'dashboard/base/sidebar.html' %}
      <!-- TOP Nav Bar -->
      {% include 'dashboard/base/header.html' %}
      <!-- TOP Nav Bar END -->
      <!-- Page Content  -->
      {% block content %}{% endblock content %}
   </div>
   <!-- Wrapper END -->
   <!-- Footer -->
   {% include 'dashboard/base/footer.html' %}
   <!-- Footer END -->
  
   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="{% static 'dashboard/assets/js/jquery.min.js' %}"></script>
   <script src="{% static 'dashboard/assets/js/popper.min.js' %}"></script>
   <script src="{% static 'dashboard/assets/js/bootstrap.min.js' %}"></script>
   <!-- Appear JavaScript -->
   <script src="{% static 'dashboard/assets/js/jquery.appear.js' %}"></script>
   <!-- Countdown JavaScript -->
   <script src="{% static 'dashboard/assets/js/countdown.min.js' %}"></script>
   <!-- Counterup JavaScript -->
   <script src="{% static 'dashboard/assets/js/waypoints.min.js' %}"></script>
   <script src="{% static 'dashboard/assets/js/jquery.counterup.min.js' %}"></script>
   <!-- Wow JavaScript -->
   <script src="{% static 'dashboard/assets/js/wow.min.js' %}"></script>
   <!-- Apexcharts JavaScript -->
   <script src="{% static 'dashboard/assets/js/apexcharts.js' %}"></script>
   <!-- Slick JavaScript -->
   <script src="{% static 'dashboard/assets/js/slick.min.js' %}"></script>
   <!-- Select2 JavaScript -->
   <script src="{% static 'dashboard/assets/js/select2.js' %}"></script>
   <script src="{% static 'dashboard/assets/js/select2.min.js' %}"></script>
   <!-- Owl Carousel JavaScript -->
   <script src="{% static 'dashboard/assets/js/owl.carousel.min.js' %}"></script>
   <!-- Magnific Popup JavaScript -->
   <script src="{% static 'dashboard/assets/js/jquery.magnific-popup.min.js' %}"></script>
   <!-- Smooth Scrollbar JavaScript -->
   <script src="{% static 'dashboard/assets/js/smooth-scrollbar.js' %}"></script>
   <!-- lottie JavaScript -->
   <script src="{% static 'dashboard/assets/js/lottie.js' %}"></script>
   <!-- am core JavaScript -->
   <script src="{% static 'dashboard/assets/js/core.js' %}"></script>
   <!-- am charts JavaScript -->
   <script src="{% static 'dashboard/assets/js/charts.js' %}"></script>
   <!-- am animated JavaScript -->
   <script src="{% static 'dashboard/assets/js/animated.js' %}"></script>
   <!-- am kelly JavaScript -->
   <script src="{% static 'dashboard/assets/js/kelly.js' %}"></script>
   <!-- am maps JavaScript -->
   <script src="{% static 'dashboard/assets/js/maps.js' %}"></script>
   <!-- am worldLow JavaScript -->
   <script src="{% static 'dashboard/assets/js/worldLow.js' %}"></script>
   <!-- Raphael-min JavaScript -->
   <script src="{% static 'dashboard/assets/js/raphael-min.js' %}"></script>
   <!-- Morris JavaScript -->
   <script src="{% static 'dashboard/assets/js/morris.js' %}"></script>
   <!-- Morris min JavaScript -->
   <script src="{% static 'dashboard/assets/js/morris.min.js' %}"></script>
   <!-- Flatpicker Js -->
   <script src="{% static 'dashboard/assets/js/flatpickr.js' %}"></script>
   <!-- Style Customizer -->
   <script src="{% static 'dashboard/assets/js/style-customizer.js' %}"></script>
   <!-- Chart Custom JavaScript -->
   <script src="{% static 'dashboard/assets/js/chart-custom.js' %}"></script>
   <!-- music js -->
   {% comment %} <script src="{% static 'dashboard/assets/js/music-player.js' %}"></script> {% endcomment %}
   <!-- music-player js -->
   {% comment %} <script src="{% static 'dashboard/assets/js/music-player-dashboard.js' %}"></script> {% endcomment %}
   <!-- Custom JavaScript -->
   <script src="{% static 'dashboard/assets/js/custom.js' %}"></script>

   <!-- Custom JS-->
   <script>
      $('body').on('click', '.playback-button', function(){
         if($(this).data('playing')){
               $(this).removeClass('fa-pause-circle');
               $(this).addClass('fa-play-circle')
               $(this).data('playing', false)
         }else{
            $(this).removeClass('fa-play-circle');
            $(this).addClass('fa-pause-circle')
            $(this).data('playing', true)
         }
         console.log($(this).data('playing'));
         $.get('{% url "dashboard:playback-control" %}?{{ request.get_full_path }}', function(data){
            console.log(data)
         })
      })

      // init select2
        $(".select2").select2({ 
            width: '100%',
        });
   </script>
</body>
</html>